.options:hover {
  cursor: pointer;
}

.entityOptions {
  z-index: 1000;
  position: absolute;
  right: 35px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul li {
  padding: 3px 5px;
}

ul li:hover {
  background-color: rgba(128, 128, 128, 0.065);
  border-radius: 3px;
}

.backgroundRed {
  background-color: hsla(0, 100%, 50%, 0.164) !important;
}

.backgroundDarkRed {
  background-color: hsla(0, 100%, 50%, 0.312) !important;
}

.backgroundDeepRed {
  background-color: hsla(0, 100%, 50%, 0.531) !important;
}
